<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguidores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css') }}">
</head>

<body>
    <div class="nav">
        <div class="nav-text">
            <h1 data-bs-toggle="collapse" data-bs-target="#info" role="button">
                SISTEMA SEGUIDORES ⌯⌲
            </h1>
            {# texto que "colapsa si se presiona el titulo..." #}
            <div class="collapse" id="info">
                <p class="text-muted">Gestiona usuarios y sus relaciones de seguimiento.</p>
            </div>
        </div>
    </div>

    {# MENSAJES #}
    {% with mensajes = get_flashed_messages(with_categories=true) %}
    {% if mensajes %}
    {% for categoria, mensaje in mensajes %}
    <div class="alert alert-{{ categoria }}">{{ mensaje }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# RELACIONEES #}
    <div class="card shadow-sm border-0 mb-5">
        <div class="card-body p-4">
            <h2 class="h3 mb-4">Seguidores 🕭</h2>

            {% if relaciones %}
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Usuario</th>
                            <th>Segidores</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for relacion in relaciones%}
                        <tr>
                            <td>{{ relacion["usuario_nombre"] }}</td>
                            <td>{{ relacion["seguidor_nombre"] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class="alert alert-info mb-0">
                No hay relaciones existentes
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row g-4">
        {# FORMULARIO #}
        <div class="col-lg-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body p-4">
                    <h2 class="h3 mb-4">Nuevo Usuario</h2>

                    <form action="{{ url_for('registrar') }}" method="POST">
                        {# ingreso nombre #}
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" maxlength="40" required>
                        </div>

                        {# ingreso apellido #}
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" id="apellido" name="apellido" class="form-control" maxlength="40"
                                required>
                        </div>

                        {# ingreso contraseña #}
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña:</label>
                            <input type="password" id="contrasena" name="contrasena" class="form-control" maxlength="40"
                                required>
                        </div>

                        {# ingreso email #}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" id="email" name="email" class="form-control" maxlength="40" required>
                        </div>

                        {# botón de envío #}
                        <button type="submit" class="btn btn-primary">Crear</button>
                    </form>
                </div>
            </div>
        </div>

        {# UNIR USUARIOS #}
        <div class="col-lg-6">
            <div class="card shadow-sm border-0 h-100">
                <div class="card-body p-4">
                    <h2 class="h3 mb-4">Seguir</h2>

                    <form action="{{ url_for('seguir') }}" method="POST">
                        {# Para usuario: #}
                        <div class="mb-3">
                            <label for="usuario_id" class="form-label">Usuario</label>
                            <select name="usuario_id" id="usuario_id" class="form-select" required>
                                <option value="">Selecciona un Usuario</option>
                                {% for user in users %}
                                <option value="{{ user.id_usuario }}">
                                    {{ user.nombre }}
                                    {{ user.apellido }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        {# Para seguidor: #}
                        <div class="mb-3">
                            <label for="seguidor_id" class="form-label">Seguidor</label>
                            <select name="seguidor_id" id="seguidor_id" class="form-select" required>
                                <option value="">Selecciona un Seguidor</option>
                                {% for user in users %}
                                <option value="{{ user.id_usuario }}">
                                    {{ user.nombre }}
                                    {{ user.apellido }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        {# botón de envío #}
                        <button type="submit" class="btn btn-success">Unir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>